body {
    background-color: #000010;
    color: #e0e0e0;
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}


#container {
    width: 90%;
    margin: auto;
    padding-bottom: 40px;
}


hr {
    font-size: 3rem;
    margin: 20px 0;
}

.spiderman-title {
    font-family: 'bangers', cursive;
    color: red;
    text-shadow: 2px 2px blue;

}

.interstellar-title {
    font-family: 'orbitron', sans-serif;
    color: #00ffff;
    text-shadow: 2px 2px 5px #ffffff;

}

img {
    border-radius: 10px;
}

#movie-posters img {
    transition: transform 0.8s ease;
}

#movie-posters img:hover {
    transform: rotate(360deg);
}

#nav {
    margin: 15px 0;
    padding: 10px 0;

}

#nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 8px;
    background: linear-gradient(90deg, #111111, #333333);
    transition: all 0.3s ease;

}

#nav a:hover {
    background: #00b3ff;
    color: #000010;
    transform: scale(1.2);
    box-shadow: 0 4px 15px rgba(0, 170, 255, 0.5);

}

#content h2 {
    color: #FFD700;
    margin: 20px 0;
    text-transform: uppercase;

}

#content p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin: 10px 0;

}


.info {
    background-color: #111;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;
    text-align: left;

}

